<html>
  <head>
    <title>Create a new gossip</title>
  </head>
  <body>
    <h1> Create a new gossip</h1>
    <p>Post your gossip by filling the form below</p>
    <form action = "/gossips/new/" method="POST">
    	Put your name here : <input type="text" name="gossip_author"/><br/>
    	Write your gossip here : <input type="text" name="gossip_content"/><br/>
    	<input type="submit"/>
	</form>
  </body>
</html>