<html>
  <head>
    <title>Show Gossip</title>
  </head>
  <body>
    <h1> Show Gossip.</h1>

   
    <h2> Here you can the specific gossip number realted to the selected number into the dynamic URL: </h2>



    			<% gossips.each do |gossip| %>
    	     <p>
    	       <%= gossip.author %><br/>
    	       <%= gossip.content %>
    	     </p>
    	   <% end %>



  </body>
</html>